name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19.2
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.48

  build:
    name: build-test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.19.2
        stable: false

    - name: Build
      run: go build -v ./...

    - name: Test qrcode
      working-directory: .
      run: go test -v ./...
      continue-on-error: false

    - name: Test writer/standard
      working-directory: ./writer/standard
      run: go mod tidy && mkdir testdata && go test -v ./...
      continue-on-error: false

    - name: Test writer/terminal
      working-directory: ./writer/terminal
      run: go mod tidy && mkdir testdata && go test -v ./...
      continue-on-error: false

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
